#logo {
	height: 80px;
	display: block;
}

textarea {
	width: 50%;
	height: 50px;
	display: block;
}

button {
	margin-top: 10px;
	height: 20px;
}

li {
	list-style-type: none;
	margin-bottom: 15px;
}

.chart{
	margin: 35px 35px;
	width: 90%;
	height: 200px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
  background-color: steelblue;
  display: inline-block;
  width: 10px;
}

.score10{
	height: 100%;
	background-color: #98c739;
}

.score9{
	height: 90%;
	background-color: #98c739;
}

.score8{
	height: 80%;
	background-color: #d8dad2;
}

.score7{
	height: 70%;
	background-color: #d8dad2;
}

.score6{
	height: 60%;
	background-color: #d12615;
}

.score5{
	height: 50%;
	background-color: #d12615;
}

.score4{
	height: 40%;
	background-color: #d12615;
}

.score3{
	height: 30%;
	background-color: #d12615;
}

.score2{
	height: 20%;
	background-color: #d12615;
}

.score1{
	height: 10%;
	background-color: #d12615;
}

.x.axis path {
  display: none;
}

.barchart {
	display: block;
	width: 960;
	height: 500;
}

.axislabel {

}

.score{
	padding-right: 10px;
}

body{

	padding: 20px 50px;

	font-family: 'Source Sans Pro'; font-style: normal; font-weight: 300; src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMw1o1eFRj7wYC6JbISqOjY.ttf') format('truetype');
	}
	@font-face {
	font-family: 'Source Sans Pro'; font-style: normal; font-weight: 400; src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNzbP97U9sKh0jjxbPbfOKg.ttf') format('truetype');
	}
	@font-face {
	font-family: 'Source Sans Pro'; font-style: normal; font-weight: 600; src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNNE-IuDiR70wI4zXaKqWCM.ttf') format('truetype');
	}
}

