 <html>
        <head>
                <title>Promoters.io by SendGrid | NPS Made Simple</title>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1" />
                <meta name="robots" content="noindex,nofollow,noodp,noydir" />
                <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
                <link rel="stylesheet" href="assets/css/main.css" />
                <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
                <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
                <link rel="icon" type="image/png" href="images/favicon.png">
        </head>
        <body>

                <!-- Header -->
                        <section id="header">
                                <div class="inner">
                                        <img src="images/prmtrs_icon_2_white.png" alt="Promoters.io" width="80"><br />
                                        <h1>Hi, I'm <strong>Promoters</strong>,<br />another awesome offspring of SendGrid.</h1>
                                        <p>Promoters enables you to quickly and automatically control your NPS survey<br />by using a set of customizable triggers and effortless email sending.</p>
                                        <ul class="actions">
                                                <li><a href="#one" class="button scrolly">Discover</a></li>
                                        </ul>
                                </div>
                        </section>

                <!-- One -->
                        <section id="one" class="main style1">
                                <div class="container">
                                        <div class="row 150%">
                                                <div class="6u 12u$(medium)">
                                                        <header class="major">
                                                                <h2>How it Works</h2>
                                                        </header>
                                                        <p>Promoters sits on top of Threads, a powerful and flexible engagement tool that allows you to set custom workflows that trigger emails to users right when they need them. Set your conditions in Threads and it will use SendGrid’s state of the art Email Deliverability platform to get your NPS survey to the Inbox, with no hassles!
</p>
                                                </div>
                                                <div class="6u$ 12u$(medium) important(medium)">
                                                        <span class="image fit"><img src="images/prmtrs_howitworks.png" alt="How it Works" /></span>
                                                </div>
                                        </div>
                                </div>
                        </section>

                <!-- Two -->
                        <section id="two" class="main style2">
                                <div class="container">
                                        <div class="row 150%">
                                                <div class="6u 12u$(medium)">
                                                        <ul class="major-icons">
                                                                <li><span class="icon style1 major fa-code"></span></li>
                                                                <li><span class="icon style2 major fa-male"></span></li>
                                                                <li><span class="icon style3 major fa-bar-chart"></span></li>
                                                                <li><span class="icon style4 major fa-line-chart"></span></li>
                                                                <li><span class="icon style5 major fa-users"></span></li>
                                                                <li><span class="icon style6 major fa-calendar"></span></li>
                                                        </ul>
                                                </div>
                                                <div class="6u$ 12u$(medium)">
                                                        <header class="major">
                                                                <h2>What it Gives You</h2>
                                                        </header>
                                                        <p>Built around the Net Promoter Score® framework, and utilizing the reliable SendGrid communication infrastructure, Promoters.io provides an effortless and streamlined look into your customer’s overall product satisfaction.</p>
                                                        <p>We collect standard NPS scoring data via the automatic email Survey we send out. We then use those scores to populate an easy to read Dashboard, with month over month metrics and drill downs into each specific score. Now you view your NPS trends and review customer comments with ease!</p>
                                                        <p>Send an email with a NPS survey to users who fit a certain trigger. Trigger handled through Threads, email handled through SendGrid. Data presented on a simple dashboard that provides analytic information.</p>
                                                </div>
                                        </div>
                                </div>
                        </section>

                <!-- Three -->
                        <section id="three" class="main style1 special">
                                <div class="container">
                                        <header class="major">
                                                <h2>Why you Need it</h2>
                                        </header>
                                        <p>Quality Customer feedback is priceless. It lets you know how well you are meeting their needs and lets you know when changes need to be made. Don’t let your fancy new product sit in the market without getting concrete input from you users!</p>
                                        <span class="image fit"><img src="images/nps-example.png" alt="NPS Example" /></span>
                                </div>
                        </section>

                <!-- Four -->
                        <section id="four" class="main style2 special">
                                <div class="container">
                                        <header class="major">
                                                <h2>Demo</h2>
                                        </header>
                                        <p>Chat with a Product Specialist</p>
                                        <ul class="actions uniform">
                                                <li><a href="mailto:dropthemic@promoters.io" class="button">Learn More</a></li>
                                        </ul>
                                </div>
                        </section>



                <!-- Footer -->
                        <section id="footer">
                                <ul class="icons">
                                        <li><a href="http://twitter.com/SendGrid" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
                                        <li><a href="http://facebook.com/SendGrid" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                                        <li><a href="https://instagram.com/sendgrid/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
                                        <li><a href="https://github.com/sendgrid" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
                                        <li><a href="mailto:dropthemic@promoters.io" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
                                </ul>
                                <ul class="copyright">
                                        <li>&copy; 2015 SendGrid, Inc.</li><li>Made with love in Boulder</li>
                                </ul>
                        </section>

                <!-- Scripts -->
                        <script src="assets/js/jquery.min.js"></script>
                        <script src="assets/js/jquery.scrolly.min.js"></script>
                        <script src="assets/js/skel.min.js"></script>
                        <script src="assets/js/util.js"></script>
                        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
                        <script src="assets/js/main.js"></script>

        </body>
</html>