<img id="logo" src="prmtrs_logo_1.png">
<h4>Your feedback has been recorded. Thanks! </h4>

<p>Comment:</p>

{{textarea value=commentText}}

<button {{action 'saveComment'}} class='btn-primary'>Submit Comment</button>

{{outlet}}