<img id="logo" src="prmtrs_logo_2.png">

<div class="chart">
	{{#each sortedComments as |item|}}
		<div class='bar score{{item.score}}' ></div>
	{{/each}}
</div>

<h2>
	Recent Feedback
</h2>
<ul>
	{{#each sortedComments as |item|}}
		<li> <span class="score">{{item.score}} </span> {{item.comment}}</li>
	{{/each}}
</ul>

<!-- {{bar-chart width=300 height=160 chartdata=model}} -->


